head {
    height: 5%;
    width: auto;
    top: 0;
    width: 100%;
    }
nav {
    top: 0;
    width: 100%;
    display: flex;
    }

.search {
    margin-left: auto;
    margin-right: auto;
}
#youtubelogo {
    width: auto;
    height: 24px;
    align-self: flex-start;
}
#searchinput {
    width: 400px;
    height: 24px;
}
#button {
    width: auto;
    height: 24px;
}
#bell {
    width: auto;
    height: 24px;
}
#upload {
    width: auto;
    height: 24px;
}
#avatar {
    width: auto;
    height: 24px;
    align-self: flex-end;
}

.video {
    margin-top: 50px;
    flex-direction: column;
}
.subvideo {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 800px;
}
.subvideo2 {
    display: flex;
    justify-content: space-between;
}
.weirdbuttons {
    display: flex;
    height: 50px;
    width: auto;
    justify-content: space-between;
}
#viewcount {
 
}

.rightside {
    display: flex;
}

.sidebar {
    width: 25%;
    float: right;
}
body {
    width: 100%;
}
.video-container {
    float: left;
    width: 70%;
}

.sidebar-container {
    float: right;
    width: 25%;
}
#togetherforever {
    width: 50%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#angelsonmyside {
    width: 50%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#keepsinging {
    width: 50%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#takemetoyourheart {
    width: 50%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#wheneveryouneedsomebody {
    width: 50%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.thumbnail-1 {
    padding: 20px 20px 20px 20px;
    font-size: 5px;
    border: 5px solid black;
}
.thumbnail-2 {
    padding: 20px 20px 20px 20px;
    font-size: 5px;
}