head {
    height: 5%;
    width: auto;
    top: 0;
    width: 100%;
    }
nav {
    top: 0;
    width: 100%;
    display: flex;
    }

.search {
    margin-left: auto;
    margin-right: auto;
}
#youtubelogo {
    width: auto;
    height: 24px;
    align-self: flex-start;
}
#searchinput {
    width: 400px;
    height: 24px;
}
#button {
    width: auto;
    height: 24px;
}
#bell {
    width: auto;
    height: 24px;
}
#upload {
    width: auto;
    height: 24px;
}
#avatar {
    width: auto;
    height: 24px;
    align-self: flex-end;
}

.video {
    display: flex;
    margin-top: 50px;
}